.menu {
  margin-top: 3rem;

  .menu-header {
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, RGBA(0, 0, 0, 0.61)), url(../../img/chow-mein.jpg) no-repeat center top;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding: 100px 0;
  }

  .menu-filter {
    padding: 35px 35px 0 35px;
    margin-top: 1rem;
  }

  h1,
  p {
    text-align: center;
    color: white;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  .category-section {
    margin-bottom: 4rem;
  }

  .category-section {
    margin-top: 4rem;

    .pic-container {
      padding: 15px;
    }
  }

  .menu-items {
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #528026;

    .item {
      span {
        font-size: 12px;
      }
    }

    .item-price {
      text-align: right;
    }
  }
}

@media only screen and (min-device-width: 768px) {
  .menu {
    .menu-items {
      .item {
        span {
          font-size: 18px;
        }
      }
    }

    h2 {
      font-size: 2rem;
    }
  }
}
