.masthead {
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, RGBA(0, 0, 0, 0.61)), url(../../../img/bamboo-bg-1.jpg) no-repeat center top;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;

  h1 {
    font-size: 65px;
    color: white;
  }

  h2 {
    font-size: 45px;
    color: white;
  }

  p {
    font-family: "PT Sans", sans-serif;
    color: #fcfcfc;
    font-size: 34px;
  }
}
