body {
  font-size: 15px;
  line-height: 1.52;
  color: #717f86;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
